<h1>Todoro</h1>
<div class="todoro-description">
	<p>
		Master the <strong><a href="http://pomodorotechnique.com/">Pomodoro Technique</a></strong> today! Built using <strong>Backbone</strong> and a restful <strong>Rails</strong> API.
	</p>

	Key Features:
	<ul>
		<li>Custom user authentication with BCrypt</li>
		<li>Precise Pomodoro Timer</li>
		<li>Responsive Design</li>
		<li>GTD-Style Tasks Creation</li>
	</ul>

	How to Use:
	<ul>
		<li>Create Tasks under Lists </li>
		<li>Hover over a Task and click the list icon to move it to Today </li>
		<li>Hover over a Task in Today and click the timer to start</li>
		<li>Mark tasks complete as you get things done!</li>
	</ul>

	<p>
		Created by <strong><a href="http://www.joeaverbukh.com">Joe Averbukh</a></strong>. View source code at <strong><a href="http://www.github.com/nezaj/todoroapp">Github</a></strong>. 
	</p>
</div>