<% var todayStatus = task.get("today") ? true : false %>

<td data-id="<%= task.id %>">
  <%= task.escape("title") %>
  <a href="#" class="task-remove">Delete</a>
  <% if (todayStatus) { %>
    <a href="#" class="remove-today">Not Today</a>
  <% } else { %>
    <a href="#" class="add-today">Today</a>
  <% } %>
  <%= task.get('today') %>
</td>
  