<div id="timer-window" class="hidden">
  <center>
    <div class="timer-title"></div>
    <div class="timer-time">25:00</div>
    <br>
    <!-- Unplanned Tasks Form -->
    <form id="unplanned-task-form" class="clearfix input-group">
      <label for="unplanned-input">Add Unplanned Task</label>
      <input type="text" name="unplanned_task[title]" id="unplanned-input" class="form-control">
    </form>
    <br>
    <div class="timer-actions">
      <a href="#" class="task-begin-pomodoro btn btn-danger">Pomodoro</a>
      <a href="#" class="task-begin-sbreak btn btn-danger">Short Break</a>
      <a href="#" class="task-begin-lbreak btn btn-danger">Long Break</a>
      <a href="#" class="task-close-timer btn btn-danger">Close</a>
    </div>
</center>
</div>