/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui-custom
 *= require_self
 *= require_tree .
 */


html {
  font-family: 'Avenir Next', sans-serif;
  margin 0x;
}

body {
  margin: 0px;
}

.sidebar {
  float: left;
  width: 20%;
}

.current-list, .today-list, .unplanned-list {
  float: left;
  width: 22%;
  margin-right: 3%;
  text-align: center;
}

.current-list tr {
  text-align: left;
}

.hidden {
  display: none;
}