// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#date-info { text-align: center; }

@media (min-width: 993px) {
  .open-list {
    position: absolute;
    top: 25%;
    left: 30%;
  }
}

@media (max-width: 992px) {
  .open-list {
    position: absolute;
    top: 30%;
    left: 25%;
  }
}