// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#date-info { text-align: center; }

.active-list {
  background-color: beige;
  border-color: brown;
}

.list-edit-form {
  position: absolute;
  top: 20%;
  left: 25%;
}

@media (min-width: 1200px) {
  .list-title {
    position: absolute;
    padding-right: 30%;
    left: 25%;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .list-title {
    position: absolute;
    top: 25%;
    left: 25%;
    padding-right: 30%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .list-title {
    position: absolute;
    top: 25%;
    left: 15%;
    padding-right: 20%;
  }
}

@media (max-width: 767px) {
  .list-title {
    position: absolute;
    top: 30%;
    left: 25%;
    padding-right: 20%;
  }
}