// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* doToday/doLater links */
.today .list-do-today { display: none; }
.later .list-do-later { display: none; }

/* Check boxes */
.task-complete {
  text-decoration: line-through;
  color: grey;
}
.task-complete .task-unchecked { display: none; }
.task-incomplete .task-checked { display: none; }