// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* doToday/doLater links */
.today .do-today { display: none; }
.later .do-later { display: none; }

/* Check boxes */
.task-complete {
  text-decoration: line-through;
  color: grey;
}
.task-complete .task-unchecked { display: none; }
.task-incomplete .task-checked { display: none; }

.tav-right {
  position: absolute;
  right: 0%;
  margin-right: 5%;
  top: 30%;
}

@media (min-width: 980px) {
  .rmt-tasksView {
    position: absolute;
    right: 0%;
    margin-right: 15%;
    top: 30%;
  }

  .rmt-todayView {
    position: absolute;
    right: 0%;
    margin-right: 5%;
    top: 30%;
  }
  
  .tav-right {
    position: absolute;
    right: 0%;
    margin-right: 5%;
    top: 30%;
  }
}

@media (max-width: 979px) {
  .rmt-tasksView {
    position: absolute;
    right: 0%;
    margin-right: 15%;
    top: 25%;
  }

  .rmt-todayView {
    position: absolute;
    right: 0%;
    margin-right: 5%;
    top: 25%;
  }
  
  .tav-right {
    position: absolute;
    right: 0%;
    margin-right: 5%;
    top: 25%;
  }
}


