<h2>Lists</h2>
<table>
  <!-- child content will be rendered here -->
</table>

<form>
  <input type="text" name="list[title]">
  <br>
  <input type="submit" class="new" value="Add New List">
</form>

