<span data-id="<%= list.id %>">
  <a href="#" class="open-list"><%= list.escape('title') %></a>
  <!-- Remove List -->
  <a href="#" class="hidden remove-list" id="remove-list-item">
    <span class="ui-icon ui-icon-closethick delete-list" data-id="<%= list.id %>" id="delete-list"></span>
  </a>
</span>
